html {
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: powderblue;
}

*{
    margin:0;
    padding:0;
    font-family: 'Oxygen', sans-serif;
}

.navbar{
    border-bottom: 2px solid #222;
}

.container-fluid{
    min-height: 100vh !important;
}

.container{
    padding: 0px !important;
}

.col-md,.col{
    padding: 0px !important;
}

.green{
    color: forestgreen;
}